{% extends "layouts/base.njk" %}

{% block css %}
    <link rel="stylesheet" href="/css/article.css" />
{% endblock %}

{% block js %}
    <script async="async" src="/js/main.min.js"></script>
{% endblock %}

{% block main %}
    <div id="central">
      <main>
        {% if illustration %}
          <img class="illustration" src="{{ illustration.src }}" alt="illustration.alt"/>
        {% endif %}
        <div id="main_content" class="{{ 'no_padding_top' if illustration else 'padding_all_sides' }}">
          {{ content | safe }}
        </div>
      </main>
      <section class="left">
        <!-- <p>Some content on the left.<p/> -->
      </section>
      <section class="right">
        <!-- <p>Some content on the right.<p/> -->
      </section>
    </div>
{% endblock %}