{%
set navCustomers = [
    {
        "name": "Aeolus Robotics",
        "href": "https://www.aeolusbot.com",
        "class": "logo_aeolus_robotics"
    },
    {
        "name": "Capsule Technologie",
        "href": "https://www.capsuletech.fr",
        "class": "logo_capsule"
    },
    {
        "name": "CEA (Commissariat à l'Energie Atomique)",
        "href": "http://www.cea.fr",
        "class": "logo_cea"
    },
    {
        "name": "Dassault Aviation",
        "href": "https://www.dassault-aviation.com",
        "class": "logo_dassault_aviation"
    },
    {
        "name": "Dassault Systèmes",
        "href": "https://www.3ds.com",
        "class": "logo_dassault_systemes"
    },
    {
        "name": "Delta CAD",
        "href": "http://ww1.deltacad.fr",
        "class": "logo_deltacad"
    },
    {
        "name": "Gennes-Val-De-Loire",
        "href": "http://www.gennesvaldeloire.fr",
        "class": "logo_gennes_val_de_loire"
    },
    {
        "name": "Mercedes AMG F1",
        "href": "https://www.mercedesamgf1.com",
        "class": "logo_mercedes_amg_f1"
    },
    {
        "name": "Mercedes AMG High Performance Powertrain (HPP)",
        "href": "https://www.mercedes-amg-hpp.com",
        "class": "logo_mercedes_amg_hpp"
    },
    {
        "name": "MKS Instruments",
        "href": "https://www.mksinst.com",
        "class": "logo_mks_instruments"
    },
    {
        "name": "Processia Solutions",
        "href": "https://www.processia.com",
        "class": "logo_processia"
    },
    {
        "name": "Qualcomm Life",
        "href": "https://www.qualcomm.com",
        "class": "logo_qualcomm_life"
    },
    {
        "name": "Renault Sport F1",
        "href": "https://www.renaultsport.com",
        "class": "logo_renault_sport_f1"
    }
]
%}

<section class="references">
<h2>References</h2>

<nav class="customers_references">
    <ul>
        {% for customer in navCustomers %}
            <li>
                <a href="{{ customer.href }}" target=”_blank”>
                    <div class="customer_icon {{ customer.class }}">
                        <span class="customer_name">{{ customer.name }}</span>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
</section>