<footer>
    <div class="left">
        <p>EIRL YVONNET - Yvo.Solutions (C)</p>
        <address>
            Email:
            <a href="mailto:contact@yvo.solutions">contact@yvo.solutions</a>
            <br/>
            Phone:
            <a href="tel:+33-677-067-137">+33 (0) 677 067 137</a>
        </address>
    </div>
    <div class="right">
        <p>
            <a href="#">Back to top</a>
        </p>
    </div>
</footer>