<footer>
    <div class="left">
        <p>EIRL YVONNET &ndash; Yvo.Solutions &#174;</p>
        <br/>
        <address>
            <p>
                <span class="email_label">Email:</span>
                <a href="mailto:contact@yvo.solutions" class="email_link">contact@yvo.solutions</a>
            </p>
            <p>
                <span class="phone_label">Phone:</span>
                <a href="tel:+33-677-067-137" class="phone_link">+33 (0) 677 067 137</a>
            </p>
        </address>
    </div>
    <div class="right">
        <a href="#">
            <div class="back_to_top_link">
                <span class="back_to_top_label">Back to top</span>
            </div>
        </a>
    </div>
</footer>