<header>
    <div class="left">
        <div class="logo">
            <p class="yvo_solutions">
                <a href="/">
                    <span class="yvo">Yvo</span><span class="solutions">.Solutions</span>
                </a>
            </p>
        </div>
    </div>
    <div class="middle">
        {% include "layouts/menu.njk" %}
    </div>
    <div class="right">
        <div class="mobile_menu_icon_open">
            <a href="#">
                Menu
            </a>
        </div>
    </div>
</header>