<header>
    <div class="static_background"></div>
    <div class="left">
        <div class="logo">
            <p class="yvo_solutions">
                <a href="/">
                    <span class="yvo">Yvo</span><span class="solutions">.Solutions</span>
                </a>
            </p>
        </div>
    </div>
    <div class="middle" id="menu_content">
        {% include "layouts/menu.njk" %}
    </div>
    <div class="right">
        <a href="#">
            <div class="mobile_menu_icon_open" id="mobile_menu_button">
                <span class="menu_label">Menu</span>
            </div>
        </a>
    </div>
</header>