<header>
    <div class="left">
        <p class="logo">
            <!-- <a href="/">{!%%% include "svg/logo_yvo_solutions.svg" %%%!}</a> -->
            Logo
        </p>
    </div>
    <div class="right">
        {% include "layouts/menu.njk" %}
    </div>
</header>