{%
set navMainMenu = [
    {
        "title": "Services",
        "href": "/services/",
        "class": "services",
        "children": [
            {
                "title": "Contracting",
                "href": "/services/contracting/",
                "class": "contracting"
            },
            {
                "title": "Code Reviews",
                "href": "/services/code_reviews/",
                "class": "code_reviews"
            },
            {
                "title": "Audit",
                "href": "/services/audit/",
                "class": "audit"
            },
            {
                "title": "Other Services",
                "href": "/services/misc/",
                "class": "misc"
            }
        ]
    },
    {
        "title": "Fields",
        "href": "/fields/",
        "class": "fields",
        "children": [
            {
                "title": "Computer-Aided Design",
                "href": "/fields/cad/",
                "class": "cad"
            },
            {
                "title": "Robotics",
                "href": "/fields/robotics/",
                "class": "robotics"
            },
            {
                "title": "Healthcare",
                "href": "/fields/healthcare/",
                "class": "healthcare"
            }
        ]
    },
    {
        "title": "Technologies",
        "href": "/technologies/",
        "class": "technologies",
        "children": [
            {
                "title": "Programming Languages",
                "href": "/technologies/languages/",
                "class": "languages"
            },
            {
                "title": "Platforms",
                "href": "/technologies/platforms/",
                "class": "platforms"
            }
        ]
    },
    {
        "title": "News",
        "href": "/news/",
        "class": "news"
    },
    {
        "title": "Contact",
        "href": "/contact/",
        "class": "contact"
    }
]
%}

<nav class="main_menu">
    <ul>
        {% for link in navMainMenu %}
            <li class="{{ link.class }}">
                <div class="menu_title {{ 'is-active' if link.href in page.url }}">
                    <a class="{{ 'is-active' if link.href in page.url }}" href="{{ link.href }}">
                        {{ link.title }}
                    </a>
                </div>
                {% if link.hasOwnProperty("children") %}
                    <ul>
                        {% for subLink in link.children %}
                            <li class="{{ subLink.class }}">
                                <div class="menu_subtitle {{ 'is-active' if link.href in page.url }}">
                                    <a class="{{ 'is-active' if subLink.href in page.url }}" href="{{ subLink.href }}">
                                        {{ subLink.title }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>