{% extends "layouts/fr/base.njk" %}

{% block css %}
    <link rel="stylesheet" href="/css/article.css" />
{% endblock %}

{% block js %}
    <script async="async" src="/js/main.min.js"></script>
{% endblock %}

{% block main %}
    <div id="central">
      <main>
        {{ content | safe }}
      </main>
      <section class="left">
        <!-- <p>Du contenu sur la gauche.<p/> -->
      </section>
      <section class="right">
        <!-- <p>Du contenu sur la droite.<p/> -->
      </section>
    </div>
{% endblock %}