<footer>
    <div class="left">
        <p>EIRL YVONNET &ndash; Yvo.Solutions &#174;</p>
        <br/>
        <address>
            <p>
                <span class="email_label">Courriel :</span>
                <a href="mailto:contact@yvo.solutions" class="email_link">contact@yvo.solutions</a>
            </p>
            <p>
                <span class="phone_label">Téléphone :</span>
                <a href="tel:+33-677-067-137" class="phone_link">+33 (0) 677 067 137</a>
            </p>
        </address>
        <br/>
        <p>
            <a href="/fr/mentions_legales">Mentions Légales</a>
        </p>
        <p>
            <a href="/">English Version</a>
        </p>
    </div>
    <div class="right">
        <a href="#">
            <div class="back_to_top_link">
                <span class="back_to_top_label">Retour en haut de page</span>
            </div>
        </a>
    </div>
</footer>