{% extends "layouts/fr/base.njk" %}

{% block css %}
    <link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block js %}
    <script async="async" src="/js/main.min.js"></script>
{% endblock %}

{% block main %}
    <main>
        {{ content | safe }}
    </main>
{% endblock %}