{%
set navMainMenu = [
    {
        "title": "Services",
        "href": "/fr/services/",
        "class": "services",
        "children": [
            {
                "title": "Missions",
                "href": "/fr/services/missions/",
                "class": "contracting"
            },
            {
                "title": "Revues de code",
                "href": "/fr/services/revues_code/",
                "class": "code_reviews"
            },
            {
                "title": "Audit",
                "href": "/fr/services/audit/",
                "class": "audit"
            },
            {
                "title": "Autres Services",
                "href": "/fr/services/autres/",
                "class": "misc"
            }
        ]
    },
    {
        "title": "Domaines",
        "href": "/fr/domaines/",
        "class": "fields",
        "children": [
            {
                "title": "Conception Assistée par Ordinateur",
                "href": "/fr/domaines/cao/",
                "class": "cad"
            },
            {
                "title": "Robotique",
                "href": "/fr/domaines/robotique/",
                "class": "robotics"
            },
            {
                "title": "Médical",
                "href": "/fr/domaines/medical/",
                "class": "healthcare"
            }
        ]
    },
    {
        "title": "Technologies",
        "href": "/fr/technologies/",
        "class": "technologies",
        "children": [
            {
                "title": "Langages de Programmation",
                "href": "/fr/technologies/langages/",
                "class": "languages"
            },
            {
                "title": "Plateforems",
                "href": "/fr/technologies/plateformes/",
                "class": "platforms"
            }
        ]
    },
    {
        "title": "Nouvelles",
        "href": "/fr/nouvelles/",
        "class": "news"
    },
    {
        "title": "Contact",
        "href": "/fr/contact/",
        "class": "contact"
    }
]
%}

<nav class="main_menu">
    <ul>
        {% for link in navMainMenu %}
            <li class="{{ link.class }}">
                <div class="menu_title {{ 'is-active' if link.href in page.url }}">
                    <a class="{{ 'is-active' if link.href in page.url }}" href="{{ link.href }}">
                        {{ link.title }}
                    </a>
                </div>
                {% if link.hasOwnProperty("children") %}
                    <ul>
                        {% for subLink in link.children %}
                            <li class="{{ subLink.class }}">
                                <div class="menu_subtitle {{ 'is-active' if link.href in page.url }}">
                                    <a class="{{ 'is-active' if subLink.href in page.url }}" href="{{ subLink.href }}">
                                        {{ subLink.title }}
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>