$font-stack: Arial, Helvetica, sans-serif;
$color-dark: #111;
$color-light: #eee;
$color-silver: #888;
$color-highlight: #aaa;
$color-yvo: #000;
$color-yvo-inverse: #fff;
$color-solutions: #aaa;
$screen-medium: 500px;
$screen-large: 600px;
$header-padding-height: 1em;
$standard-padding: 2em;