nav.customers_references {
    background-color: $color-light;
    margin-top: 1em;

    ul {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0.5em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            height: 200px;
            width: 200px;
            padding: 0.5em;

            .customer_icon {
                background-repeat: no-repeat;
                height: 200px;
                width: 200px;
            }

            .logo_aeolus_robotics {
                background-image: url("/img/customers/logo_aeolus_robotics_200.jpg");
            }

            .logo_capsule {
                background-image: url("/img/customers/logo_capsule_200.jpg");
            }

            .logo_cea {
                background-image: url("/img/customers/logo_cea_200.jpg");
            }

            .logo_dassault_aviation {
                background-image: url("/img/customers/logo_dassault_aviation_200.jpg");
            }

            .logo_dassault_systemes {
                background-image: url("/img/customers/logo_dassault_systemes_200.jpg");
            }

            .logo_deltacad {
                background-image: url("/img/customers/logo_deltacad_200.jpg");
            }

            .logo_gennes_val_de_loire {
                background-image: url("/img/customers/logo_gennes_val_de_loire_200.jpg");
            }

            .logo_mercedes_amg_f1 {
                background-image: url("/img/customers/logo_mercedes_amg_f1_200.jpg");
            }

            .logo_mercedes_amg_hpp {
                background-image: url("/img/customers/logo_mercedes_amg_hpp_200.jpg");
            }

            .logo_mks_instruments {
                background-image: url("/img/customers/logo_mks_instruments_200.jpg");
            }

            .logo_processia {
                background-image: url("/img/customers/logo_processia_200.jpg");
            }

            .logo_qualcomm_life {
                background-image: url("/img/customers/logo_qualcomm_life_200.jpg");
            }

            .logo_renault_sport_f1 {
                background-image: url("/img/customers/logo_renault_sport_f1_200.jpg");
            }

            span.customer_name {
                display: none;
            }
        }
    }
}

@media only screen and (min-width: $screen-large) {
    nav.customers_references {    
        ul {
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}