footer {
    background-color: $color-dark;
    color: $color-light;
    font: 14px $font-stack;
    min-height: $footer-height;
    padding: $standard-padding;
    display: grid;
    grid-template-areas: 
        "left"
        "right";

    .left {
        grid-area: left;

        address {
            font-style: normal;
    
            .email_label {
                display: none;
            }
    
            .email_link {
                background-image: url("/img/icons/email.png");
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                padding-left: 25px;
            }
    
            .phone_label {
                display: none;
            }
    
            .phone_link {
                background-image: url("/img/icons/phone.png");
                background-repeat: no-repeat;
                height: 20px;
                width: 20px;
                padding-left: 20px;
            }
        }
    }

    .right {
        grid-area: right;
        display: flex;
        flex-direction: row-reverse;

        .back_to_top_link {
            background-image: url("/img/icons/back_to_top.png");
            background-repeat: no-repeat;
            height: 30px;
            width: 30px;
        }
    
        .back_to_top_label {
            display: none;
        }
    }

    p {
        margin: 0;
    }

    a {
        color: $color-light;
        text-decoration: none;
    }
}

@media only screen and (min-width: $screen-medium) {
    footer {
        grid-template-columns: auto 20%;
        grid-template-areas:
            "left right"
    }
}