header {
    //background-color: #999;
    display: grid;
    grid-template-columns: auto 5em;
    grid-template-areas: 
        "left   right"
        "middle middle";

    .left {
        grid-area: left;
        //background-color: red;

        .logo .yvo_solutions {
            margin: 0;
            padding-left: 4em;
            padding-top: $header-padding-height;
            padding-bottom: $header-padding-height;

            a {
                text-decoration: none;

                .yvo {
                    color: gray;
                }
    
                .solutions {
                    color: black;
                }    
            }
        }
    }

    .right {
        grid-area: right;
        padding-top: $header-padding-height;
        padding-bottom: $header-padding-height;
        //background-color: green;
    }

    .middle {
        grid-area: middle;
        //display: none; // @TODO: uncomment for PROD
    }
}

@media only screen and (min-width: $screen-large) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        grid-template-columns: 20% auto;
        grid-template-areas: 
            "left middle";

        div.right {
            display: none
        }
    }
}