header {
    background-color: $color-dark;
    font: 16px $font-stack;
    display: grid;
    grid-template-columns: auto 5em;
    grid-template-areas: 
        "left   right"
        "middle middle";

    .static_background {
        display: none;
    }

    .left {
        grid-area: left;

        .logo .yvo_solutions {
            margin: 0;
            padding-left: 2em;
            padding-top: $header-padding-height;
            padding-bottom: $header-padding-height;

            a {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                padding-left: 2.2em;
                text-decoration: none;
                background-image: url("/img/yvo_logo/header_logo.png");
                background-position: 0;
                background-repeat: no-repeat;

                .yvo {
                    color: $color-yvo-inverse;
                }
    
                .solutions {
                    color: $color-solutions;
                }
            }
        }
    }

    .right {
        grid-area: right;

        .mobile_menu_icon_open {
            background-image: url("/img/icons/menu.png");
            width: 50px;
            height: 50px;
            transform: scale(0.5);
        }

        .menu_label {
            display: none;
        }
    }

    .middle {
        grid-area: middle;
        display: none;
    }
}

@media only screen and (min-width: $screen-large) {
    header {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        grid-template-columns: 20% auto;
        grid-template-areas: 
            "left middle";

        div.right {
            display: none
        }

        .middle {
            display: block;
        }
    }
}