nav.main_menu ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-areas:
        "first"
        "second"
        "third"
        "fourth"
        "fifth";
}

nav.main_menu ul li {
    background-color: beige;
}

nav.main_menu {
    ul {
        li.services {
            grid-area: first;
        }

        li.fields {
            grid-area: second;
        }

        li.technologies {
            grid-area: third;
        }

        li.news {
            grid-area: fourth;
        }

        li.contact {
            grid-area: fifth;
        }
    }
}

@media only screen and (min-width: $screen-large) {
    nav.main_menu {
        ul {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: center;
            display: grid;
            grid-template-areas:
                "first second third fourth fifth";

            li {
                ul {
                    position: absolute;
                    display: none;

                    li {
                        position: relative;
                        padding: 2em;
                    }

                    li:hover {
                        background-color: $color-light;
                    }        
                }
            }

            li:hover > ul {
                display: block;
            }

            li:hover {
                background-color: $color-light;
            }
        }
    }
}