nav.main_menu {
    ul {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-areas:
            "first"
            "second"
            "third"
            "fourth"
            "fifth";

        li {
            background-color: $color-light;

            .menu_title {
                padding-left: 1em;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                background-color: $color-dark;

                a {
                    color: $color-light;
                    text-decoration: none;
                }
            }

            ul {
                li {
                    .menu_subtitle {
                        padding-left: 2em;
                        padding-top: 0.3em;
                        padding-bottom: 0.3em;
                        border-color: $color-dark;
                        border-style: solid;
                        border-width: 1px;

                        a {
                            color: $color-dark;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        li.services {
            grid-area: first;
        }

        li.fields {
            grid-area: second;
        }

        li.technologies {
            grid-area: third;
        }

        li.news {
            grid-area: fourth;
        }

        li.contact {
            grid-area: fifth;
        }
    }
}

@media only screen and (min-width: $screen-large) {
    nav.main_menu {
        ul {
            list-style: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: center;
            display: grid;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-areas:
                "first second third fourth fifth";

            li {
                background-color: transparent;

                .menu_title {
                    padding-left: 0;
                    padding-top: $header-padding-height;
                    padding-bottom: $header-padding-height;
                    background-color: transparent;
                }

                ul {
                    display: none;
                    background-color: $color-light;

                    li {
                        padding: 2em;

                        .menu_subtitle {
                            padding-left: 0;
                            padding-top: 0;
                            padding-bottom: 0;
                            border-style: none;
                        }
                    }

                    li:hover {
                        background-color: $color-highlight;
                    }        
                }
            }

            li:hover > ul {
                display: block;
            }

            li:hover {
                .menu_title {
                    background-color: $color-highlight;

                    a {
                        color: $color-dark;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}