@import 'common';
@import 'header';
@import 'footer';
@import 'menu';

body {
    font: 100% $font-stack;
    margin: 0;
    background-color: aqua;

    div#central {
        background-color: pink;
        display: grid;
        grid-gap: 1em;
        grid-template-areas:
            "main"
            "left"
            "right";
        
        .left {
            grid-area: left;
            background-color: red;
        }

        .right {
            grid-area: right;
            background-color: green;
        }
    }
}

main {
    grid-area: main;
    background-color: coral;
}

@media only screen and (min-width: $screen-medium) {
    body div#central {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "left  main"
            "right right";
    }
}

@media only screen and (min-width: $screen-large) {
    body div#central {
        margin-left: 2%;
        margin-right: 2%;
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
            "left main right";
    }
}