@import 'common';
@import 'header';
@import 'footer';
@import 'menu';

body {
    font: 100% $font-stack;
    margin: 0;
    background-color: $color-dark;
}

img, iframe {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

#central {
    display: grid;
    grid-template-areas:
        "main"
        "left"
        "right";
    
    .left {
        grid-area: left;
        background-color: $color-light;
    }

    .right {
        grid-area: right;
        background-color: $color-light;
    }
}

main {
    grid-area: main;
    padding: $standard-padding;
    min-height: 50vh;
    background-color: white;
}

@media only screen and (min-width: $screen-medium) {
    body div#central {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "left  main"
            "right right";
    }
}

@media only screen and (min-width: $screen-large) {
    body div#central {
        padding-top: $standard-padding;
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: 200px auto 200px;
        grid-template-areas:
            "left main right";
    }

    header .static_background {
        display: inherit;
        position: absolute;
        z-index: -1;
        top: 0;
        height: $header-height;
        width: 100%;
        background-color: $color-dark;
    }
}