@import 'common';
@import 'header';
@import 'footer';
@import 'menu';

body {
    font: 100% $font-stack;
    margin: 0;
}

#central {
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "main"
        "left"
        "right";
    
    .left {
        grid-area: left;
    }

    .right {
        grid-area: right;
    }
}

main {
    grid-area: main;
    padding: $standard-padding;
}

@media only screen and (min-width: $screen-medium) {
    body div#central {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "left  main"
            "right right";
    }
}

@media only screen and (min-width: $screen-large) {
    body div#central {
        margin-left: 2%;
        margin-right: 2%;
        grid-gap: 20px;
        grid-template-columns: 200px auto 200px;
        grid-template-areas:
            "left main right";
    }
}