@import 'common';
@import 'header';
@import 'footer';
@import 'menu';

body {
    font: 100% $font-stack;
    margin: 0;
}

main {
    display: grid;
    grid-template-areas:
        "landing-page"
        "summary"
        "services"
        "references"
        "locations";
}

section.landing-page {
    grid-area: landing-page;
    background-image: url("/img/backgrounds/landing_page_main_1000.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

    .landing-page-title {
        margin-top: 7em;
        margin-left: 2em;
        color: $color-light;

        h1.yvo_solutions {
            background-image: url("/img/yvo_logo/landing_page_logo_200.png");
            background-repeat: no-repeat;
            height: 100px;
            width: 200px;

            .yvo {
                display: none;
            }

            .solutions {
                display: none;
            }
        }

        .landing-page-subtitle {
            font: 150% $font-stack;
            text-shadow: 0 0 5px #000;
            padding-top: 3em;
            padding-left: 1em;

            .line-two {
                display: block;
                padding-top: 0em;
                padding-left: 3em;
            }
        }
    }
}

section.summary {
    grid-area: summary;
    padding: 2em;
    color: $color-dark

    h1 {
        font: 120% $font-stack;
    }
}

section.services {
    grid-area: services;
    display: grid;
    grid-template-areas:
        "title"
        "cad-plm"
        "robotics"
        "healthcare";
}

section.references {
    grid-area: references;
}

section.locations {
    grid-area: locations;
    height: 100vh;
}

article.cad-plm {
    grid-area: cad-plm;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "content";
}

article.robotics {
    grid-area: robotics;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "content";
}

article.healthcare {
    grid-area: healthcare;
    height: 100vh;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "content";
}

article h3, section h2 {
    grid-area: title;
    margin: 0;
    padding: 0;
}

article .content {
    grid-area: content;
}

article .blank {
    grid-area: blank;
    display: none;
}

@media only screen and (min-width: $screen-large) {
    section.landing-page {
        background-image: url("/img/backgrounds/landing_page_main_2000.jpg");

        .landing-page-title {
            margin-top: 10em;
            margin-left: 7.5em;

            h1.yvo_solutions {
                background-image: url("/img/yvo_logo/landing_page_logo_400.png");
                background-repeat: no-repeat;
                height: 200px;
                width: 400px;
            }

            .landing-page-subtitle {
                font: 250% $font-stack;
                padding-top: 2em;
                padding-left: 4em;
    
                .line-two {
                    padding-left: 3em;
                }
            }
        }
    }

    article.cad-plm {
        grid-template-columns: auto 50%;
        grid-template-areas:
            "title title"
            "blank content";
    }

    article.robotics {
        grid-template-columns: 50% auto;
        grid-template-areas:
            "title   title"
            "content blank";
    }

    article.healthcare {
        grid-template-columns: auto 50%;
        grid-template-areas:
            "title title"
            "blank content";
    }

    article .blank {
        display: inherit;
    }
}
