@import 'common';
@import 'header';
@import 'footer';
@import 'menu';

body {
    font: 110% $font-stack;
    margin: 0;
}

main {
    display: grid;
    grid-template-areas:
        "landing-page"
        "summary"
        "services"
        "references"
        "locations";
}

section.landing-page {
    grid-area: landing-page;
    background-image: url("/img/backgrounds/landing_page_main_1000.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;

    .landing-page-title {
        margin-top: 7em;
        margin-left: 2em;
        color: $color-light;

        h1.yvo_solutions {
            background-image: url("/img/yvo_logo/landing_page_logo_200.png");
            background-repeat: no-repeat;
            height: 100px;
            width: 200px;

            .yvo {
                display: none;
            }

            .solutions {
                display: none;
            }
        }

        .landing-page-subtitle {
            font: 130% $font-stack;
            text-shadow: 0 0 5px #000;
            padding-top: 3em;
            padding-left: 1em;

            .line-two {
                display: block;
                padding-top: 0em;
                padding-left: 3em;
            }
        }
    }
}

section.summary {
    grid-area: summary;
    padding: $standard-padding;
    color: $color-dark;
}

section.services {
    background-color: black;
    grid-area: services;
    display: grid;
    grid-template-areas:
        "title"
        "cad-plm"
        "robotics"
        "healthcare";

    h2 {
        padding-left: 35px;
        padding-top: 35px;
        padding-bottom: 5px;
        color: $color-light;
        text-shadow: 0 0 5px #000;
    }
}

section.references {
    grid-area: references;
    padding: $standard-padding;
}

section.locations {
    grid-area: locations;
    padding: $standard-padding;
    height: 100vh;
}

article.cad-plm {
    grid-area: cad-plm;
    padding: $standard-padding;
    background-image: url("/img/backgrounds/computer_aided_design_1000.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    height: 90vh;
    color: $color-light;
    text-shadow: 0 0 5px #000;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "content";
}

article.robotics {
    grid-area: robotics;
    padding: $standard-padding;
    background-image: url("/img/backgrounds/robotics_1000.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: white;
    color: $color-dark;
    text-shadow: 0 0 5px #fff;
    height: 90vh;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "content";
}

article.healthcare {
    grid-area: healthcare;
    padding: $standard-padding;
    background-image: url("/img/backgrounds/healthcare_1000.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #b9b9b9;
    color: $color-dark;
    text-shadow: 0 0 5px #b9b9b9;
    height: 90vh;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "title"
        "content";
}

article h3, section h2 {
    grid-area: title;
    margin: 0;
    padding: 0;
}

article .content {
    grid-area: content;
}

article .blank {
    grid-area: blank;
    display: none;
}

@media only screen and (min-width: $screen-large) {
    body {
        font: 150% $font-stack;
    }

    section.services {
        h2 {
            padding-left: 48px;
            padding-top: 48px;
        }
    }

    section.landing-page {
        background-image: url("/img/backgrounds/landing_page_main_2000.jpg");

        .landing-page-title {
            margin-top: 5em;
            margin-left: 5em;

            h1.yvo_solutions {
                background-image: url("/img/yvo_logo/landing_page_logo_400.png");
                background-repeat: no-repeat;
                height: 200px;
                width: 400px;
            }

            .landing-page-subtitle {
                font: 250% $font-stack;
                padding-top: 2em;
                padding-left: 4em;
    
                .line-two {
                    padding-left: 3em;
                }
            }
        }
    }

    article.cad-plm {
        background-image: url("/img/backgrounds/computer_aided_design_2000.jpg");
        background-position: left top;
        background-size: auto 100%;
        grid-template-columns: auto 50%;
        grid-template-areas:
            "title title"
            "blank content";
    }

    article.robotics {
        background-image: url("/img/backgrounds/robotics_2000.jpg");
        background-position: right top;
        background-size: auto 100%;
        grid-template-columns: 50% auto;
        grid-template-areas:
            "title   title"
            "content blank";
    }

    article.healthcare {
        background-image: url("/img/backgrounds/healthcare_2000.jpg");
        background-position: left top;
        background-size: auto 100%;
        grid-template-columns: auto 50%;
        grid-template-areas:
            "title title"
            "blank content";
    }

    article .blank {
        display: inherit;
    }

    article .content p {
        margin-top: 10%;
    }
}

@media only screen and (min-width: $screen-huge) {
    section.landing-page {
        background-image: url("/img/backgrounds/landing_page_main_4000.jpg");
    }
}