body {
    margin: 0px;
    background-color: aqua;
}

body div#central {
    background-color: pink;
    display: grid;
    grid-gap: 1em;
    grid-template-areas:
        "main"
        "left"
        "right";
}

header {
    background-color: #999;
    display: grid;
    grid-template-columns: auto 5em;
    grid-template-areas: 
        "left   right"
        "middle middle";
}

footer {
    background-color: #999;
    display: grid;
    grid-template-areas: 
        "left"
        "right";
}

main {
    grid-area: main;
    background-color: coral;
}

.left {
    grid-area: left;
    background-color: red;
}

.middle {
    grid-area: middle;
    background-color: grey;
}

/*
header div.middle {
    display: none
}
*/

.right {
    grid-area: right;
    background-color: green;
}

.content {
    grid-area: content;
    background-color: grey;
}

footer .left, footer .right, .content {
    padding: 10px;
}

header .left .logo .yvo_solutions {
    padding: 0;
    margin: 0;
    background-color: salmon;
}

nav.main_menu ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    display: grid;
    grid-template-areas:
        "first"
        "second"
        "third"
        "fourth"
        "fifth";
}

nav.main_menu ul li {
    background-color: beige;
}

nav.main_menu ul li.services {
    grid-area: first;
}

nav.main_menu ul li.fields {
    grid-area: second;
}

nav.main_menu ul li.technologies {
    grid-area: third;
}

nav.main_menu ul li.news {
    grid-area: fourth;
}

nav.main_menu ul li.contact {
    grid-area: fifth;
}

@media only screen and (min-width: 500px) {
    body div#central {
        grid-template-columns: 20% auto;
        grid-template-areas:
            "left  main"
            "right right";
    }

    footer {
        grid-template-columns: auto 20%;
        grid-template-areas:
            "left right"
    }
}

@media only screen and (min-width: 600px) {
    body div#central {
        margin-left: 2%;
        margin-right: 2%;
        grid-gap: 20px;
        grid-template-columns: 120px auto 120px;
        grid-template-areas:
            "left main right";
    }

    header {
        grid-template-columns: 20% auto;
        grid-template-areas: 
            "left middle";
    }

    header div.right {
        display: none
    }

    nav.main_menu ul {
        list-style: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: center;
        display: grid;
        grid-template-areas:
            "first second third fourth fifth";
    }

    nav.main_menu ul li ul {
        position: absolute;
        display: none;
    }

    nav.main_menu ul li ul li {
        position: relative;
        padding: 2em;
    }
    
    nav.main_menu ul li:hover > ul {
        display: block;
    }

    nav.main_menu ul li:hover, nav.main_menu ul ul li:hover {
        background-color: orange;
    }
}
